@font-face {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  src: url("../fonts/Jost-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  src: url("../fonts/Jost-SemiBold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  src: url("../fonts/Jost-Bold.ttf") format("ttf");
  font-display: swap;
}