@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}